<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">

  <label for="">Username</label>
  <input type="text"
  class="form-control mb-2 mr-sm-2 "
  id="username"
  name="username"
  formControlName="username"
  autocomplete="off"
  >

  <label for="">Password</label>
  <input type="password"
  class="form-control mb-2 mr-sm-2 "
  id="password"
  name="password"
  formControlName="password"
  autocomplete="off"
  >
  <button
  type="submit"
  class="btn btn-primary mb-2">
    Logar
  </button>
</form>