<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="home"
      routerLinkActive="breadcrumb-item active">
      Home</a>
  </li>
    <li class="breadcrumb-item"><a routerLink="add-tasks"
      routerLinkActive="breadcrumb-item active">
      Adicionar Tarefas
      </a>
    </li>
    <li class="breadcrumb-item"><a routerLink="login"
      routerLinkActive="breadcrumb-item active">
      Logar
      </a>
    </li>
  </ol>
</nav>
<router-outlet></router-outlet>

