
  <h1>
    <p><span><strong>Adicionar Tarefas</strong></span></p>
  </h1>

<form class="form-inline" [formGroup]="tasksForm" (ngSubmit)="submit()">

    <input type="text"
      class="form-control mb-2 mr-sm-2"
      id="task"
      name="task"
      formControlName="task"
      placeholder="Tarefa">

    <select class="custom-select form-control mb-2 mr-sm-2" formControlName="priority">
      <option [ngValue]="null" disabled> Prioridades</option>
      <option *ngFor="let priority of prioritys" [ngValue]="priority.id">{{ priority.name }}</option>
    </select>

     <button
      type="submit"
      class="btn btn-primary mb-2"
      [disabled]="tasksForm.invalid">
    Adicionar tarefa</button>
</form>

<h2>Tarefas</h2>

<table mat-table [dataSource]="tasks" class="table table-hover">

  <ng-container matColumnDef="task"  >
    <th mat-header-cell *matHeaderCellDef>Tarefa</th>
    <td mat-cell *matCellDef="let task">
      <span><strong>{{ task.task | uppercase }}</strong></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="priority" >
    <th mat-header-cell *matHeaderCellDef>Prioridades</th>
    <td mat-cell *matCellDef="let task" >
      <span ><strong>{{ task.priority |uppercase }}</strong></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let task">
      <span><strong>{{ task.status | uppercase }}</strong></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="updated">
    <th mat-header-cell *matHeaderCellDef> Atualizar</th>
    <td mat-cell *matCellDef="let task"> <button class="btn btn-info" (click)="updatedTask(task)">Atualizar</button></td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Deletar</th>
    <td mat-cell *matCellDef="let task" (click)="deleteTask(task.id)" > <button  class="btn btn-danger">Deletar</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
